.general-container{
    display: flex;
    flex-direction: column;
}

.stepper-container{
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.passed{
    background-color: green;
}